<p-toast styleClass="text-2xl" />

<div class="card" style="margin-top: 2%;">
    <p-tabView>
        <p-tabPanel header="Reporte General" [selected]="true">
            <p-toolbar styleClass="gap-2 mt-5" [style]="{ 'background-color': 'rgb(31 63 111)' }">
                <h4 class="font-medium text-surface-950 dark:text-surface-0 text-xl">Reporte Diario / Mensual</h4>
            </p-toolbar>
            <div class="row mt-5">
                <div class="col-sm-12">
                    <p for="staticEmail" class="col-sm-12 col-form-label mt-5"><b>Fecha:</b></p>
                    <div class="col-sm-12">
                        <p-calendar [(ngModel)]="selectedRange" [selectionMode]="'range'" [numberOfMonths]="2"
                            class="date-range" [showButtonBar]="true" [showWeek]="false" [touchUI]="false"
                            placeholder="Selecciona un rango" (onSelect)="handleCalendarBlur()"
                            [style]="{ width: '300px' }" [appendTo]="'body'" [panelStyle]="{ 'z-index': '10000' }"
                            [minDate]="minDate" [maxDate]="maxDate">
                        </p-calendar>
                    </div>
                </div>
            </div>
            <div>
                <p-table stripedRows #dt
                    [styleClass]="'table-sm mt-5 p-datatable-sm p-datatable-gridlines table-bordered p-datatable-striped ml-3'"
                    columnResizeMode="expand" [value]="Clients" rowGroupMode="rowspan" [rows]="10" [paginator]="true"
                    [tableStyle]="{ 'min-width': '5rem' }" [rowHover]="true" dataKey="idpedido"
                    [resizableColumns]="true"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                    [showCurrentPageReport]="true">

                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="fecha" style="width:14%">
                                📅 Fecha <p-sortIcon field="fecha" />
                            </th>
                            <th pSortableColumn="dia" style="width:12%">
                                📅 Día <p-sortIcon field="dia" />
                            </th>
                            <th pSortableColumn="efectivo" class="col-efectivo">
                                💵 Efectivo <p-sortIcon field="efectivo" />
                            </th>
                            <th pSortableColumn="yape" class="col-yape">
                                📱 Yape <p-sortIcon field="yape" />
                            </th>
                            <th pSortableColumn="plin" class="col-plin">
                                📱 Plin <p-sortIcon field="plin" />
                            </th>
                            <th pSortableColumn="visa" class="col-tarjeta">
                                💳 Visa <p-sortIcon field="visa" />
                            </th>
                            <th pSortableColumn="total" class="col-total">
                                Total <p-sortIcon field="total" />
                            </th>
                            <th style="width:3rem"></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-product let-odd="odd">
                        <tr [class.row-odd]="odd">
                            <td class="td-fecha">{{ product.fecha }}</td>
                            <td class="td-dia" style="text-transform: capitalize;">{{ product.dia }}</td>
                            <td>S/ {{ product.efectivo | number:'1.2-2' }}</td>
                            <td>S/ {{ product.yape | number:'1.2-2' }}</td>
                            <td>S/ {{ product.plin | number:'1.2-2' }}</td>
                            <td>S/ {{ product.visa | number:'1.2-2' }}</td>
                            <td class="td-total">S/ {{ product.total | number:'1.2-2' }}</td>
                            <td>
                                <p-button type="button" pRipple icon="pi pi-file-pdf" [rounded]="true" severity="danger"
                                    [text]="true" (click)="PdfReporteDiario(product.fecha)" pTooltip="Reporte PDF"
                                    tooltipPosition="left" />
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <tr *ngIf="Clients.length != 0" class="premium-tfoot">
                            <td colspan="2" class="tfoot-label">
                                TOTAL PERIODO
                            </td>
                            <td>S/ {{ array_data_total.efectivo | number:'1.2-2' }}</td>
                            <td>S/ {{ array_data_total.yape | number:'1.2-2' }}</td>
                            <td>S/ {{ array_data_total.plin | number:'1.2-2' }}</td>
                            <td>S/ {{ array_data_total.visa | number:'1.2-2' }}</td>
                            <td class="tfoot-total">S/ {{ array_data_total.total | number:'1.2-2' }}</td>
                            <td></td>
                        </tr>
                        <tr *ngIf="Clients.length == 0">
                            <td colspan="8" class="empty-state">
                                <i class="pi pi-calendar"></i>
                                <span>No hay registros. Por favor, seleccione un rango de fechas válido.</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <!-- <p-confirmDialog [style]="{ width: '450px' }" /> -->
        </p-tabPanel>
        <p-tabPanel header="Reporte Detallado">
            <p-toolbar styleClass="gap-2 mt-5" [style]="{ 'background-color': 'rgb(31 63 111)' }">
                <h4 class="font-medium text-surface-950 dark:text-surface-0 text-xl">Reporte Detallado Diario</h4>
            </p-toolbar>
            <div class="row mt-5">
                <div class="col-sm-12">
                    <p for="staticEmail" class="col-sm-12 col-form-label mt-5"><b>Fecha:</b></p>
                    <div class="col-sm-12">
                        <p-calendar [(ngModel)]="selectedRange2" placeholder="Selecciona una fecha"
                            (onSelect)="DayCalendarBlur()" [style]="{ width: '300px' }" [appendTo]="'body'"
                            [panelStyle]="{ 'z-index': '10000' }" [minDate]="minDate" [maxDate]="maxDate"> </p-calendar>
                    </div>
                </div>
            </div>
            <div>
                <p-table stripedRows #dt [expandedRowKeys]="expandedRows"
                    [styleClass]="'table-sm mt-5 p-datatable-sm p-datatable-gridlines table-bordered p-datatable-striped ml-3'"
                    columnResizeMode="expand" [value]="PedidoReporte" rowGroupMode="rowspan" [rows]="10"
                    [paginator]="true" [tableStyle]="{ 'min-width': '5rem' }" [rowHover]="true" dataKey="idpedido"
                    [resizableColumns]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <td style="width:3%" style="min-width:3rem"></td>
                            <td style="width:5%" pSortableColumn="fecha" style="min-width:6rem">
                                Fecha
                                <p-sortIcon field="fecha" />
                            </td>
                            <th pSortableColumn="dia" style="min-width:15rem" style="min-width:3rem">
                                Dia
                                <p-sortIcon field="dia" />
                            </th>
                            <td style="width:5%" pSortableColumn="mesa" style="min-width:6rem">
                                Mesa
                                <p-sortIcon field="mesa" />
                            </td>
                            <th pSortableColumn="hora" style="min-width:3rem" style="min-width:3rem">
                                Hora
                                <p-sortIcon field="hora" />
                            </th>
                            <th pSortableColumn="total_pedidos" style="min-width:3rem">
                                Total Pedidos
                                <p-sortIcon field="total_pedidos" />
                            </th>

                            <th style="width:5%" pSortableColumn="efectivo" style="min-width:3rem">
                                💵Efectivo
                                <p-sortIcon field="efectivo" />
                            </th>
                            <th pSortableColumn="yape" style="min-width:3rem">
                                📱Yape
                                <p-sortIcon field="yape" />
                            </th>
                            <th pSortableColumn="plin" style="min-width:3rem">
                                📱Plin
                                <p-sortIcon field="plin" />
                            </th>
                            <th pSortableColumn="visa" style="min-width:3rem">
                                💳Visa
                                <p-sortIcon field="visa" />
                            </th>
                            <th pSortableColumn="total" style="min-width:3rem">
                                Total
                                <p-sortIcon field="total" />
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-expanded="expanded">
                        <tr>
                            <td>
                                <p-button type="button" pRipple [pRowToggler]="product" [text]="true" [rounded]="true"
                                    [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                            </td>
                            <td>{{ product.fecha }}</td>
                            <td>{{ product.dia }}</td>
                            <td>{{ product.mesa == 0 ? 'Delivery' : product.mesa }}</td>
                            <td>{{ product.hora }}</td>
                            <td>{{ product.total_pedidos }}</td>
                            <td>{{ 'S/' + product.efectivo }}</td>
                            <td>{{ 'S/' + product.yape }}</td>
                            <td>{{ 'S/' + product.plin }}</td>
                            <td>{{ 'S/' + product.visa }}</td>
                            <td>{{ 'S/' + product.total }}</td>
                            <td>
                                <p-button type="button" [text]="true" [rounded]="true" [plain]="true"
                                    [icon]="'pi pi-spin pi-cog'" (click)="Editar(product)" />
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template #expandedrow let-product>
                        <tr>
                            <td colspan="7">
                                <div class="p-4">
                                    <h5>{{ product.mesa != 0 ? 'Mesa ' + product.mesa : 'Delivery ' }}</h5>
                                    <p-table [value]="product.pedidodetalle" dataKey="idpedidodetalle">
                                        <ng-template #header>
                        <tr>
                            <th>Lugarpedido</th>
                            <th>Plato <p-sortIcon field="nombre" /></th>
                            <th>Cantidad <p-sortIcon field="cantidad" /></th>
                            <th>Precio Unitario</th>
                            <th>Total</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-productodetalle>
                        <tr>
                            <td>{{ product.mesa == 0 ? 'Delivery' : productodetalle.lugarpedido == 1 ? 'llevar' : 'Mesa'
                                }}</td>
                            <td>{{ productodetalle.producto.nombre }}</td>
                            <td>{{ productodetalle.cantidad }}</td>
                            <td>{{ productodetalle.precioU }}</td>
                            <td>{{ productodetalle.total }}</td>
                        </tr>
                    </ng-template>

                    <!-- <ng-template #emptymessage>
                        <tr>
                            <td colspan="6">There are no order for this product yet.</td>
                        </tr>
                    </ng-template> -->
                </p-table>
            </div>
            </td>
            </tr>
            </ng-template>
            </p-table>
</div>
<!-- <p-confirmDialog [style]="{ width: '450px' }" /> -->
</p-tabPanel>
<p-tabPanel header="Reporte Eliminados">
    <p-toolbar styleClass="gap-2 mt-5" [style]="{ 'background-color': 'rgb(31 63 111)' }">
        <h4 class="font-medium text-surface-950 dark:text-surface-0 text-xl">Reporte Eliminados Diario</h4>
    </p-toolbar>
    <div class="row mt-5">
        <div class="col-sm-12">
            <p for="staticEmail" class="col-sm-12 col-form-label mt-5"><b>Fecha:</b></p>
            <div class="col-sm-12">
                <p-calendar [(ngModel)]="selectedRange3" [selectionMode]="'range'" [numberOfMonths]="2"
                    placeholder="Selecciona un rango" (onSelect)="DayCalendarBlurEliminados()"
                    [style]="{ width: '300px' }" [appendTo]="'body'" [panelStyle]="{ 'z-index': '10000' }"
                    [minDate]="minDate" [maxDate]="maxDate"> </p-calendar>
            </div>
        </div>
    </div>
    <div>
        <p-table stripedRows #dtEliminados [expandedRowKeys]="expandedRowsEliminados"
            [styleClass]="'table-sm mt-5 p-datatable-sm p-datatable-gridlines table-bordered p-datatable-striped ml-3'"
            columnResizeMode="expand" [value]="PedidoReporteEliminados" rowGroupMode="rowspan" [rows]="10"
            [paginator]="true" [tableStyle]="{ 'min-width': '5rem' }" [rowHover]="true" dataKey="idpedido"
            [resizableColumns]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <td style="width:3%" style="min-width:3rem"></td>
                    <td style="width:5%" pSortableColumn="fecha" style="min-width:6rem">
                        Fecha
                        <p-sortIcon field="fecha" />
                    </td>
                    <th pSortableColumn="dia" style="min-width:15rem" style="min-width:3rem">
                        Dia
                        <p-sortIcon field="dia" />
                    </th>
                    <td style="width:5%" pSortableColumn="mesa" style="min-width:6rem">
                        Mesa
                        <p-sortIcon field="mesa" />
                    </td>
                    <th pSortableColumn="hora" style="min-width:3rem" style="min-width:3rem">
                        Hora
                        <p-sortIcon field="hora" />
                    </th>
                    <th pSortableColumn="total_pedidos" style="min-width:3rem">
                        Total Pedidos
                        <p-sortIcon field="total_pedidos" />
                    </th>

                    <th pSortableColumn="motivo" style="min-width:10rem">
                        Motivo
                        <p-sortIcon field="motivo" />
                    </th>
                    <th pSortableColumn="responsable" style="min-width:6rem">
                        Responsable
                        <p-sortIcon field="responsable" />
                    </th>
                    <th pSortableColumn="total" style="min-width:3rem">
                        Total
                        <p-sortIcon field="total" />
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td>
                        <p-button type="button" pRipple [pRowToggler]="product" [text]="true" [rounded]="true"
                            [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                    </td>
                    <td>{{ product.fecha }}</td>
                    <td>{{ product.dia }}</td>
                    <td>{{ product.mesa == 0 ? 'Delivery' : product.mesa }}</td>
                    <td>{{ product.hora }}</td>
                    <td>{{ product.total_pedidos }}</td>
                    <td>{{ product.motivo }}</td>
                    <td>{{ product.responsable }}</td>
                    <td>{{ 'S/' + product.total }}</td>
                    <td>
                    </td>
                </tr>
            </ng-template>

            <ng-template #expandedrow let-product>
                <tr>
                    <td colspan="7">
                        <div class="p-4">
                            <h5>{{ product.mesa != 0 ? 'Mesa ' + product.mesa : 'Delivery ' }}</h5>
                            <p-table [value]="product.pedidodetalle" dataKey="idpedidodetalle">
                                <ng-template #header>
                <tr>
                    <th>Lugarpedido</th>
                    <th>Plato <p-sortIcon field="nombre" /></th>
                    <th>Cantidad <p-sortIcon field="cantidad" /></th>
                    <th>Precio Unitario</th>
                    <th>Total</th>
                </tr>
            </ng-template>
            <ng-template #body let-productodetalle>
                <tr>
                    <td>{{ product.mesa == 0 ? 'Delivery' : productodetalle.lugarpedido == 1 ? 'llevar' : 'Mesa'
                        }}</td>
                    <td>{{ productodetalle.producto.nombre }}</td>
                    <td>{{ productodetalle.cantidad }}</td>
                    <td>{{ productodetalle.precioU }}</td>
                    <td>{{ productodetalle.total }}</td>
                </tr>
            </ng-template>

            <!-- <ng-template #emptymessage>
                        <tr>
                            <td colspan="6">There are no order for this product yet.</td>
                        </tr>
                    </ng-template> -->
        </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
    </div>
    <!-- <p-confirmDialog [style]="{ width: '450px' }" /> -->
</p-tabPanel>
<p-tabPanel header="Pedidos Sin Cobrar">
    <p-toolbar styleClass="gap-2 mt-5" [style]="{ 'background-color': 'rgb(31 63 111)' }">
        <h4 class="font-medium text-surface-950 dark:text-surface-0 text-xl">Reporte Pedidos Sin Cobrar</h4>
    </p-toolbar>
    <div class="row mt-5">
        <div class="col-sm-12">
            <p for="staticEmail" class="col-sm-12 col-form-label mt-5"><b>Rango de Fecha:</b></p>
            <div class="col-sm-12">
                <p-calendar [(ngModel)]="selectedRange4" [selectionMode]="'range'" [numberOfMonths]="2"
                    placeholder="Selecciona un rango" (onSelect)="DayCalendarBlurSinCobrar()"
                    [style]="{ width: '300px' }" [appendTo]="'body'" [panelStyle]="{ 'z-index': '10000' }"
                    [minDate]="minDate" [maxDate]="maxDate"> </p-calendar>
            </div>
        </div>
    </div>
    <div>
        <p-table stripedRows #dtSinCobrar [expandedRowKeys]="expandedRowsSinCobrar"
            [styleClass]="'table-sm mt-5 p-datatable-sm p-datatable-gridlines table-bordered p-datatable-striped ml-3'"
            columnResizeMode="expand" [value]="PedidoReporteSinCobrar" rowGroupMode="rowspan" [rows]="10"
            [paginator]="true" [tableStyle]="{ 'min-width': '5rem' }" [rowHover]="true" dataKey="idpedido"
            [resizableColumns]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <td style="width:3%" style="min-width:3rem"></td>
                    <td style="width:5%" pSortableColumn="fecha" style="min-width:6rem">
                        Fecha
                        <p-sortIcon field="fecha" />
                    </td>
                    <th pSortableColumn="dia" style="min-width:15rem" style="min-width:3rem">
                        Dia
                        <p-sortIcon field="dia" />
                    </th>
                    <td style="width:5%" pSortableColumn="mesa" style="min-width:6rem">
                        Mesa
                        <p-sortIcon field="mesa" />
                    </td>
                    <th pSortableColumn="hora" style="min-width:3rem" style="min-width:3rem">
                        Hora
                        <p-sortIcon field="hora" />
                    </th>
                    <th pSortableColumn="total_pedidos" style="min-width:3rem">
                        Num. Pedidos
                        <p-sortIcon field="total_pedidos" />
                    </th>
                    <th pSortableColumn="total" style="min-width:3rem">
                        Total por Cobrar
                        <p-sortIcon field="total" />
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-expanded="expanded">
                <tr>
                    <td>
                        <p-button type="button" pRipple [pRowToggler]="product" [text]="true" [rounded]="true"
                            [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                    </td>
                    <td>{{ product.fecha }}</td>
                    <td>{{ product.dia }}</td>
                    <td>{{ product.mesa == 0 ? 'Delivery' : product.mesa }}</td>
                    <td>{{ product.hora }}</td>
                    <td>{{ product.total_pedidos }}</td>
                    <td>{{ 'S/' + product.total }}</td>
                    <td>
                        <p-button type="button" [text]="true" [rounded]="true" [plain]="true"
                            [icon]="'pi pi-spin pi-cog'" (click)="Editar(product)" />
                    </td>
                </tr>
            </ng-template>

            <ng-template #expandedrow let-product>
                <tr>
                    <td colspan="7">
                        <div class="p-4">
                            <h5>{{ product.mesa != 0 ? 'Mesa ' + product.mesa : 'Delivery ' }}</h5>
                            <p-table [value]="product.pedidodetalle" dataKey="idpedidodetalle">
                                <ng-template #header>
                <tr>
                    <th>Lugarpedido</th>
                    <th>Plato <p-sortIcon field="nombre" /></th>
                    <th>Cantidad <p-sortIcon field="cantidad" /></th>
                    <th>Precio Unitario</th>
                    <th>Total</th>
                </tr>
            </ng-template>
            <ng-template #body let-productodetalle>
                <tr>
                    <td>{{ product.mesa == 0 ? 'Delivery' : productodetalle.lugarpedido == 1 ? 'llevar' : 'Mesa'
                        }}</td>
                    <td>{{ productodetalle.producto.nombre }}</td>
                    <td>{{ productodetalle.cantidad }}</td>
                    <td>{{ productodetalle.precioU }}</td>
                    <td>{{ productodetalle.total }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
    </div>
</p-tabPanel>
</p-tabView>
</div>
<p-dialog [position]="'top'" [(visible)]="PDF_Dialog" [style]="{ width: '500px', height: '880px' }"
    (onHide)="PDF_Dialog = false" [closeOnEscape]="true" header="Imprimir Cliente" [modal]="true" [draggable]="false"
    [resizable]="false" styleClass="p-fluid">
    <div class="pdf-container">
        <iframe *ngIf="pdfUrl" [src]="pdfUrl" width="100%" height="650px" frameborder="0"></iframe>
    </div>
    <ng-template pTemplate="footer">
        <p-button styleClass="p-button-raised p-button-danger" label="Cerrar" icon="pi pi-times"
            (onClick)="hideDialogPdf()" [style]="{ 'margin-left': '20px', 'margin-top': '55px;' }"></p-button>
    </ng-template>
</p-dialog>

<!-- Add the edit dialog similar to the one in home.component.html -->
<p-dialog [(visible)]="Cobrar_Dialog" [position]="'top'" header="Cobrar Pedido" [style]="{ width: '600px' }"
    [modal]="true" [draggable]="false" [resizable]="false" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="px-6 py-2 space-y-6">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
                <div>
                    <label for="efectivo" class="block text-sm font-medium text-gray-700">💵Efectivo</label>
                    <input id="efectivo" type="number" [(ngModel)]="Pedido_cobrar.efectivo"
                        class="w-full mt-1 rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" />
                </div>
                <div>
                    <label for="visa" class="block text-sm font-medium text-gray-700">💳Visa</label>
                    <input id="visa" type="number" [(ngModel)]="Pedido_cobrar.visa"
                        class="w-full mt-1 rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" />
                </div>
                <div>
                    <label for="yape" class="block text-sm font-medium text-gray-700">📱Yape</label>
                    <input id="yape" type="number" [(ngModel)]="Pedido_cobrar.yape"
                        class="w-full mt-1 rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" />
                </div>
                <div>
                    <label for="plin" class="block text-sm font-medium text-gray-700">📱Plin</label>
                    <input id="plin" type="number" [(ngModel)]="Pedido_cobrar.plin"
                        class="w-full mt-1 rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" />
                </div>
            </div>
            <div>
                <label for="total" class="block text-sm font-semibold text-gray-800">Total</label>
                <input id="total" type="number" disabled [(ngModel)]="Pedido_cobrar.total"
                    class="w-full mt-1 bg-gray-100 border border-gray-300 text-blue-600 font-bold text-lg rounded-md px-3 py-2 cursor-not-allowed" />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-4 px-6 pb-4">
            <p-button styleClass="p-button-raised p-button-primary" icon="pi pi-save" label="Cobrar"
                (onClick)="CobrarPedido(Pedido_cobrar)"> </p-button>

            <p-button styleClass="p-button-raised p-button-danger" icon="pi pi-times" label="Cancelar"
                (onClick)="hideDialog()"> </p-button>
        </div>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" />